.bundle/
.byebug_history
coverage/**
.DS_Store
.env.*
Gemfile.lock
log/*.log
pkg/
spec/test_app/db/*.sqlite3
spec/test_app/db/*.sqlite3-journal
spec/test_app/log/*.log
spec/test_app/tmp/
tmp/**
*~undo-tree~
/vendor
