.bulkrax-card-footer {
  min-height: 60px;
}

div.importer_parser_fields_file_style span.radio {
  display: inline;
  margin-right: 20px;
}

div#file_upload, div#file_path {
  display: none;
}

div.hide-required-tag .required-tag {
  display: none;
}

div#s2id_exporter_export_source_collection {
  border: none;
  padding: 0;
}

.bulkrax-nav-tab-top-margin {
  margin-top: 20px !important;
}

.bulkrax-nav-tab-bottom-margin {
  margin-bottom: 20px;
}

.bulkrax-nav-tab-table-left-align {
  margin-left: 10px;
}

.bulkrax-p-align {
  margin: 15px 0 10px 15px;
}

.bulkrax-clear-toggles {
  clear: both;
}

#existing_options .collection_check_boxes {
  margin-left: 10px;
  margin-right: 10px;
}
