<% provide :page_header do %>
  <h1><span class="fa fa-cloud-download" aria-hidden="true"></span> Exporters</h1>
  <div class="pull-right">
    <%= link_to new_exporter_path, class: 'btn btn-primary', data: { turbolinks: false } do %>
      <span class="fa fa-edit" aria-hidden="true"></span> <%= t(:'helpers.action.exporter.new') %>
    <% end %>
  </div>
<% end %>

<% content_for(:head) do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<div class="panel card panel-default">
  <div class="panel-body card-body">
    <div class="table-responsive">
      <table id='exporters-table' class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Date Exported</th>
            <th scope="col">Downloadable Files</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
