<!DOCTYPE html>
<html>
<head>
  <title>Bulkrax</title>
  <%= stylesheet_link_tag    "bulkrax/application", media: "all" %>
  <%= javascript_include_tag "bulkrax/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
