name: Lint
on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - main

jobs:
  rubocop:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Cache
        uses: actions/cache@v2.1.3
        with:
          path: vendor/bundle
          key: 2.6.5

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1.59.1
        with:
          ruby-version: 2.6.5

      - name: Install dependencies
        run: |
          bundle config path vendor/bundle
          bundle install --without default development test

      - name: Run Rubocop
        run: bin/rubocop -P
