name: Test
on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - master

jobs:
  rspec:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Cache
        uses: actions/cache@v2.1.3
        with:
          path: vendor/bundle
          key: 2.6.5

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1.59.1
        with:
          ruby-version: 2.6.5

      - name: Setup sqlite3
        run: sudo apt-get install libsqlite3-dev

      - name: Install dependencies
        run: |
          bundle config path vendor/bundle
          bundle install

      - name: Migrate test database
        run: bin/rails db:migrate RAILS_ENV=test

      - name: Run rspec
        run: rake
