name: Test
on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - main

jobs:
  rspec:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: ['2.7', '3.0']
    name: Run specs with ruby ${{ matrix.ruby }}
    steps:
      - uses: actions/checkout@v2

      - name: Cache
        uses: actions/cache@v2.1.3
        with:
          path: vendor/bundle
          key: ${{ matrix.ruby }}

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1.159.0
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Setup sqlite3
        run: sudo apt-get install libsqlite3-dev

      - name: Install dependencies
        run: |
          bundle config path vendor/bundle
          bundle install

      - name: Migrate test database
        run: bundle exec rake db:migrate db:test:prepare

      - name: Run rspec
        run: bundle exec rake spec

      - name: Upload coverage results
        uses: actions/upload-artifact@v4.4.0
        with:
          name: coverage-report-${{ matrix.ruby }}
          path: coverage/**
          include-hidden-files: true

  coverage:
    runs-on: ubuntu-latest

    # This line will only run the coverage job if the test job passed
    needs: rspec

    steps:
      - name: Download coverage report
        uses: actions/download-artifact@v4.1.8
        with:
          name: coverage-report-2.7
          path: coverage

      - name: SimpleCov Check
        uses: vigetlabs/simplecov-check@1.0
        with:
          minimum_coverage: 80
          coverage_path: coverage/.last_run.json
